/* colors */
$black: #222222;
$dkGrey: #666666;
$grey: #333333;
$blue: #0077be;
$ltBlue: #cce4f2;
$white: #ffffff;

/* breakpoints */
$firstBreak : em( 767 );
$secondBreak : em( 567 );

/* font-face */
$meridien: 'Meridien';
$gill-sans: 'Gill Sans';
$gill-sans-condensed: 'Gill Sans Condensed';
